.output{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: rgb(231, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    inline-size: 100%;
    overflow: auto;
};